* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  text-align: center;
}

body {
  width: 100vw;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1.5vw;
}

td, th {
  border: 0.1vw solid black;
  width: 10vw;
}