* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  text-align: center;
}

body {
  width: 100vw;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1.5vw;
}

.folder {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1.5vw;
}

td,
th {
  border: 0.1vw solid black;
  width: 10vw;
  height: 5vw;
  user-select: none;
}

td:hover,
th:hover {
  cursor: context-menu;
}

.selected {
  background-color: lightblue;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  font-size: 14px;
  background-color: #fff;
  border-radius: 2px;
  padding: 5px 0 5px 0;
  width: 10vw;
  height: 15vw;
  margin: 0;
  position: absolute;
  list-style: none;
  box-shadow: 0 0 20px 0 #ccc;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.menu:hover {
  cursor: context-menu;
}

.option {
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.option:hover {
  background-color: lightblue;
}

.file-info,
.file-display {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1.5vw;
  position: absolute;
  width: 30vw;
  height: 80vh;
  background-color: black;
  color: white;
  box-shadow: 0 0 1000000px 30vh gray;
  opacity: 0;
  animation: appear 0.5s linear 0.1s 1 forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
